{% extends 'base.html.twig' %}
{% import '_ui.html.twig' as ui %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    {{ ui.btn('Back to list', path('app_user_index'), 'outline-secondary') }}
{% endblock %}
